@font-face {
    font-family: 'gothic-regular';
    font-weight: normal;
    font-style: normal;

    src: url('../font/leaguegothic-regular-webfont.eot');
    src: url('../font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/leaguegothic-regular-webfont.woff2') format('woff2'), url('../font/`leaguegothic-regular-webfont.woff') format('woff'), url('../font/leaguegothic-regular-webfont.ttf') format('truetype'), url('../font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
}
@font-face {
    font-family: 'opensans-light';
    font-weight: normal;
    font-style: normal;

    src: url('../font/opensans-light-webfont.eot');
    src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-light-webfont.woff2') format('woff2'), url('../font/opensans-light-webfont.woff') format('woff'), url('../font/opensans-light-webfont.ttf') format('truetype'), url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
}
@font-face {
    font-family: 'opensans-extrabold';
    font-weight: normal;
    font-style: normal;

    src: url('../font/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype');
}
html {
    overflow-x: hidden;
}
body {
    margin: 0 auto;
}
header {
    width: 100%;
    height: 869px;

    background: url(../img/BG/BG.jpg) center no-repeat;
}
.wrapper {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
.header__logo {
    margin-top: 51px;
}
.header__menu {
    margin-top: -38px;
    padding-left: 29.4%;

    text-align: center;
}
.header__768menu {
    display: none;
}
ul.header__768menu__ul> li {
    position: relative;
    left: -229px;

    margin-left: 273px;
}
ul.header__768menu__ul> li> a {
    display: block;

    padding: 0px;

    text-decoration: none;

    color: white;

    font-family: 'gothic-regular';
}
ul.header__submenu__link {
    position: absolute;
    top: -10px;
    left: -105px;

    display: none;

    text-align: center;
}
.header__submenu__link {
  overflow: hidden;

  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(54, 41, 62, 0.8);
}
ul.header__submenu__link> li {
  width: 245px;

  border-top: 1px solid #6a5373;
  border-bottom: 2px solid #35273d;
}
ul.header__submenu__link> li:hover {
  z-index: 2147483647;

  box-sizing: border-box;

  border-bottom: 2px solid pink;
  background-color: rgba(54, 41, 62, 0.8);
}
ul.header__submenu__link> li> a {
    display: block;

    margin-top: -2px;
    padding: 10px 35px 10px 35px;

    text-decoration: none;

    color: white;
    /*border-radius: 4px;
*/
    /*background-color: rgba(54, 41, 62, 0.92);*/
    /*background-repeat: no-repeat;*/
    text-shadow: 1px 1px 2px black;
    /*  box-shadow: 1px 1px 0px 5px #37293f;*/

    font-family: 'gothic-regular';
    font-size: 24px;
}
ul.header__submenu__link> li> a:hover {
    /*background-color: rgba(9, 0, 15, 0.82);*/

    /*box-shadow: 0px -1px 0px 1px #edbfff;*/
}
ul.header__768menu__ul> li:hover> ul.header__submenu__link {
    display: block;
}
.header__menu__link {
    margin-left: 6%;

    text-decoration: none;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'gothic-regular';
    font-size: 24px;
}
.header__menu__link:hover {
    box-shadow: 0px 2px 0px 0px #edbfff;
}
.header__center {
    width: 100%;
    max-width: 2400px;
    height: 400px;
    margin: -590px auto;

    background-color: rgba(0, 0, 0, 0.2);
}
.header__center__h1-text {
    width: 50%;
    padding-top: 76px;

    letter-spacing: -0.5px;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'gothic-regular';
    font-size: 60px;
}
.header__center__h2-text {
    width: 50%;

    color: #edbfff;
    text-shadow: 1px 1px 2px black;

    font-family: 'gothic-regular';
    font-size: 32px;
}
.header__center__text {
    display: block;

    width: 55%;
    margin-right: 50%;
    padding-top: 7px;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'opensans-light';
    font-size: 18px;
    line-height: 24px;
}
.header__center__phone-buttom {
    position: relative;

    display: inline-block;
    float: right;

    width: 76px;
    height: 76px;
    margin-top: -187px;
    margin-right: 141px;

    -webkit-transition: 0.2s all;
    transition: 0.2s all;

    background-image: url(../img/Sliders/Phone/Phone-buttom-play.png);
    background-position: right;
}
.header__center__phone-buttom:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: scale(1.2,1.2);
          transform: scale(1.2,1.2);
}
.header__center__phone {
    float: right;

    margin-top: -335px;
    padding-right: 80px;
}
.header__center__buttom__menu {
    padding-top: 175px;
    padding-left: 545px;

    text-align: center;
}
.header__center__buttom__menu__ul-list {
    display: inline-block;
}
.header__center__buttom__menu__li-list {
    display: inline-block;

    margin: 0 5px 5px 0;
}
.header__center__buttom__menu__li-list__link {
    display: inline-block;

    width: 17px;
    height: 17px;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
}
.header__center__buttom__menu__li-list__link:hover {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.header__center__buttom__menu__li-list__link:focus {
    background: #ffffff;
    box-shadow: inset 0px 0px 0px 4px rgba(51, 51, 57, 0.9);
}
.content {
    overflow: hidden;

    width: 100%;
    max-width: 2400px;
    height: 359px;
    margin: 0 auto;

    background: -webkit-linear-gradient(top, #745083 0%, #322539 100%);
    background: linear-gradient(to bottom, #745083 0%, #322539 100%);
    background-color: #745083;

    -pie-background: linear-gradient(to bottom, #745083 0%, #322539 100%);
    behavior: url(../PIE/PIE.htc);
}
.content__icon {
    position: relative;
    top: 85px;
    left: -50px;

    display: block;
    float: left;

    width: 30px;
    height: 30px;

    background: url(../img/Body/Blurbs/sprite-icons.png);
}
.icon--2, .content__text {
    background-position: 64px;
}
.icon--3, .content__text__nopadding {
    background-position: 30px;
}
.content__text__h1 {
    padding-top: 80px;
    padding-bottom: 18px;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'gothic-regular';
    font-size: 30px;
}
.content__text__h1__img {
    padding-top: 80px;
    padding-bottom: 18px;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'gothic-regular';
    font-size: 30px;
}
.content__text {
    float: left;

    width: 25%;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
}
.content__text__nopadding {
    float: left;

    width: 25%;
    padding-left: 35px;
}
.content__text__info {
    display: inline-block;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'opensans-light';
    font-size: 16px;
    line-height: 25px;
}
.content__text__down {
    display: inline-block;

    margin-top: 14px;
    padding-left: 165px;
}
.content__text__down__link {
    text-decoration: none;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'gothic-regular';
    font-size: 18px;
}
.content__text__down__link:hover {
    cursor: pointer;

    text-shadow: 1px 1px 11px white;
}
.content--480text__info {
    display: none;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'opensans-light';
    font-size: 16px;
    line-height: 25px;
}
.blog {
    width: 100%;
    max-width: 2400px;
    height: 608px;
    margin: 0 auto;

    background-color: #f9f9f9;
}
.blog__box1 {
    display: inline-block;

    width: 387px;
    height: 292px;
    margin-top: 100px;
    padding-left: 70px;
}
.blog__box1__container {
    display: inline-block;

    width: 400px;
    height: 243px;
    margin-left: -44px;
    padding-top: 30px;
    padding-left: 30px;

    background-color: white;
    box-shadow: 0px 0.8px 0px 1px rgb(224, 224, 224);
}
.blog__box1__img {
    position: relative;
    top: -250px;
    left: -70px;
}
.blog__box1__h1 {
    margin-bottom: 10px;

    color: #454545;
    text-shadow: 0.5px 0.5px 0px rgb(26, 26, 26);

    font-family: 'gothic-regular';
    font-size: 30px;
}
.blog__box1__h1-add {
    color: #edbfff;
    text-shadow: 0.5px 0.5px 0px rgb(26, 26, 26);

    font-family: 'gothic-regular';
    font-size: 30px;
}
.blog__box1__text {
    letter-spacing: -0.6px;

    color: #454545;
    text-shadow: -0.6px 0px 0px rgb(26, 26, 26);

    font-family: 'opensans-light';
    font-size: 16px;
    line-height: 26px;
}
.buttom--blog {
    position: relative;
    top: -5px;
    left: -285px;

    display: inline-block;

    width: 135px;
    padding-left: 4px;
}
.buttom__li--blog:focus {
    background: #5e5e5e;
    box-shadow: inset 0px 0px 0px 2px white;
}
.buttom__li--blog {
    border: 1px solid rgba(128, 128, 128, 0.46);
    background-color: white;
}
.blog__box1--480text {
    display: none;

    letter-spacing: -0.6px;

    color: #454545;
    text-shadow: -0.6px 0px 0px rgb(26, 26, 26);

    font-family: 'opensans-light';
    font-size: 16px;
    line-height: 26px;
}
.blog__box2 {
    display: inline-block;
    float: right;

    width: 430px;
    height: 260px;
    margin-top: -305px;
    padding-left: 70px;
}
.blog__box2__h1 {
    color: #454545;
    text-shadow: -0.6px 0px 0px rgb(26, 26, 26);

    font-family: 'gothic-regular';
    font-size: 30px;
}
.blog__box2__img {
    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 0 0 -50px 0;

    background: url(../img/Body/FromTheBlog/post.png);
    background-position: 50px 0px;
}
.img--center {
    background-position: -50px 0px;
}
.img--down {
    background-position: 0px 0px;
}
.blog__box2__text-blog {
    display: inline-block;

    width: 100%;
    margin-bottom: 10px;
}
.blog__box2__text-blog__h1 {
    margin-left: 60px;

    color: #454545;

    font-family: 'opensans-extrabold';
    font-size: 16px;
}
.blog__box2__text-blog__text {
    display: inline-block;

    margin-left: 60px;
    padding-top: 10px;

    color: #454545;

    font-family: 'opensans-light';
    font-size: 16px;
}
.blog__box2__down--link {
    display: inline-block;

    padding-left: 160px;

    color: #454545;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}
.blog__sponsor {
    display: block;

    height: 120px;
    margin-top: -120px;

    box-shadow: inset 0px 0px 0px 1px #e6e6e6;
}
.blog__sponsor__box {
    position: relative;

    padding-left: 70px;
}
.blog__sponsor__box__item {
    float: left;

    width: 12%;
    height: 67px;
    margin: 30px 37px 1px 1px;

    background: url(../img/Body/sponsors.png);
    background-position: -10px;
}
.box--sponsor2 {
    background-position: -145px;
}
.box--sponsor3 {
    background-position: -276px;
}
.box--sponsor4 {
    background-position: -410px;
}
.box--sponsor5 {
    background-position: -555px;
}
.box--sponsor6 {
    background-position: 120px;
}
.info {
    width: 100%;
    max-width: 2400px;
    height: 396px;
    margin: 0 auto;

    background-color: #ececec;
}
.info__h1--down {
    padding-bottom: 10px;

    color: #454545;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.info__text--down {
    width: 280px;
    height: 180px;

    color: #787878;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.info__box--down {
    padding-right: 58px;
    padding-left: 0px;
}
.info__h1--768down {
    display: none;

    color: #454545;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.info__text--768down {
    display: none;

    color: #787878;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
footer {
    width: 100%;
    max-width: 2400px;
    height: 114px;
    margin: 0 auto;

    background: url(../img/Body/Footer/footer-img.png);
}
.menu--footer {
    width: 100%;
    margin-left: -442px;
    padding-top: 50px;
}
.footer__design {
    display: inline-block;
    float: right;

    width: 145px;
    margin-top: -20px;

    color: white;
    text-shadow: 1px 1px 2px black;

    font-family: 'opensans-light';
    font-size: 12px;
}
.footer__design__extra {
    font-family: 'opensans-extrabold';
}
